@model Heroi

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="@Model.ImagemUrl" class="img-rounded" alt="" />
    </div>
    <div class="caption">
        <h3>
            <a asp-controller="Heroi" asp-action="Details" asp-route-heroiId="@Model.HeroiID">@Model.Codinome</a>
        </h3>
        <p>Heroi : @Model.NomeCompleto</p>
        <p>Altura: @Model.Altura</p>
        <p>Peso: @Model.Peso</p>
        <p>Poder: @Model.Poder</p>
    </div>
</div>

