@model ReflectionIT.Mvc.Paging.PagingList<GerenciamentoHerois.Models.Poder>

@{
    ViewData["Title"] = "Index";
}

<h1>Poderes - Index</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
    </button>
</form>

Total de Poderes : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.TipoPoder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPoder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PoderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PoderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PoderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
